<div class="postItemContainer">
<div class="postOperations">
<a href=<%="/users/#{post.author_id}/posts/#{post.id}"%>><p id="postsIndex">Post #<%=post.id%></p></a>
  <%= render partial:"likes/like",locals: {post_item:post}%>
</div>
 <p><%= post.text%></p>
 <p id="postStatistic">Comments: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0%></p>
</div>
